body {
    background: url("../resources/fancy-pants.jpg");
    background-attachment: fixed;
}

form {
    border-radius: 8px;
}

.btn-position {
    text-align: center;
}

#carouselExampleControls {
    text-align: center;
}